<a href="https://colab.research.google.com/github/1st-award/andong_2021_2_1/blob/main/Python/%ED%95%84%EA%B8%B0%20%EC%82%AC%EB%B3%B8/data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 리스트(List)

- 프로그램의 수행에 필요한 데이터를 관리하기 쉽도록 **순서**를 정하여 차례대로 저장해놓은 **시퀀스(일련의 연속적인)** 자료구조<br>
- 리스트의 생성: 대괄호 []안에 원소(element 또는 item)들을 쉼표로 구분하여 차례대로 나열<br>
- 원소의 내용 변경, 삽입 및 삭제가 가능<br>

## 리스트의 생성

In [ ]:
shopping_list = ['딸기', '바나나', '우유', '달걀', '양배추', '당근', '소고기']
shopping_list

In [ ]:
score = [45, 74, 68, 86, 50, 70, 90, 96, 84]
score

## 리스트 원소 변경

In [ ]:
shopping_list[4] = "상추"
shopping_list

## 리스트 원소 추가

**list.append(x)** - 리스트 '맨 끝'에 x원소를 추가

In [ ]:
shopping_list.append('마늘')
shopping_list

## 특정 위치에 원소 삽입

**list.insert(a, b)** - 리스트의 a위치에 b의 값을 삽입

In [ ]:
shopping_list.insert(2, '오렌지') # shopping_list[2]에 오렌지를 추가
shopping_list

['딸기', '바나나', '오렌지', '오렌지', '우유', '달걀', '상추', '당근', '소고기']

## 리스트 원소 삭제

**list.pop(n)** - 리스트의 n번 위치의 값을 꺼내어 반환하고 리스트에서 해당 값을 삭제<br>
**list.pop()** - 리스트의 맨 마지막에 있는 값을 꺼내어 반환하고 리스트에서 해당 값을 삭제<br>

In [ ]:
shopping_list.pop(1) # shopping_list[1]을 꺼내어 반환하고(반환할 대상이 없으면 바로 삭제) 해당 값을 리스트에서 삭제
shopping_list

In [ ]:
del_item = shopping_list.pop() # 리스트 마지막에 있는 값을 꺼내어 del_item에 저장하고 삭제
del_item

In [ ]:
shopping_list

**list.remove(x)** - 리스트에서 특정 값 x를 찾아서 제거

In [ ]:
shopping_list.remove('달걀') # 리스트에서 달걀을 찾아 삭제

In [ ]:
shopping_list

## 리스트 안에 어떤 원소가 있는지 확인

In [ ]:
'당근' in shopping_list

In [ ]:
'바나나' in shopping_list

## 리스트 이어붙이기

In [ ]:
color1 = ["red", "green", "blue"] # 리스트는 값(red, green, blue)을 저장하는게 아니라 리스트의 가장 앞의 주소(red의 첫번째 주소값)를 저장한다
color2 = ["whilte", "black", "cyan"]

In [ ]:
color1 = color1 + color2 # 3개의 원소를 갖고있던 주소를 버리고 6개의 원소를 저장하고있는 첫번째 원소의 주소를 저장한다.
color1

In [ ]:
cities = ["서울", "부산", "대구"]
cities.extend(["대전", "광주", "울산", "인천"]) # extend -> 확장이라는 단어
cities

In [ ]:
cities = ["서울", "부산", "대구"]
newCities = 3 * cities # newCities = newCities + newCities + newCities
newCities

## 리스트 정렬

- 글자는 가, 나, 다 순서 숫자는 1, 2, 3 순서로 저장된다

In [ ]:
num = [9, 3, 7, 5, 1, 2, 8]
num

In [ ]:
# 오름차순 정렬
num.sort()
num

In [ ]:
# 내림차순 정렬
num.sort(reverse=True)
num

## 리스트 슬라이시싱

In [ ]:
cities

['서울', '부산', '대구', '대전', '광주', '울산', '인천']

In [ ]:
tour_list = cities[1:5] # cities[1]부터 cities[4]까지 tour_list에 저장
tour_list

['부산', '대구', '대전', '광주']

In [ ]:
visited_list = cities[:4] # cities[0]부터 cities[3]까지 visited_list에 저장
visited_list

['서울', '부산', '대구', '대전']

In [ ]:
to_go = cities[4:] # cities[4]부터 cities원소 끝까지 to_go에 저장
to_go

['광주', '울산', '인천']

In [ ]:
to_go = cities[-3:] # cities문자열의 뒤에서 세 번째 원소 부터 cities원소 끝번까지 to_go에 저장
to_go

In [ ]:
to_go = cities[3:-2] # cities[3]부터 뒤에서 세 번째 원소까지 to_go에 출력
to_go

In [ ]:
score = [45, 74, 68, 86, 50, 70, 90, 96, 84]
score

In [ ]:
score[3:-2] = [65, 89, 78, 54] # score[3]부터 socore[-2]앞까지(-3까지)의 원소를 기존과 교체
score

## 리스트 함축

리스트 함축은 수학자들이 집합을 정의하는 것과 유사하다.<br>
0부터 9까지의 자연수의 제곱의 값을 원소로 갖는 리스트를 다음과 같이 정의할 수 있다.

In [ ]:
s = [x ** 2 for x in range(10)] #s라는 리스트에 x^2이 들어간다
s

리스트[3, 4, 5]의 모든 원소에 2를 곱한 값을 원소로 갖는 새로운 리스트를 다음과 같이 정의할 수 있다.

In [ ]:
list1 = [3, 4, 5]
list2 = [2 * x for x in list1] # 2*x를 한 값을 list2에 저장된다 (이때 x는 list1의 원소 값을 순서대로 갖는다)
list2

### **조건이 붙는 리스트 함축**<br>
1부터 20사이의 짝수를 원소로 갖는 리스트 정의

In [ ]:
evenNum = [x for x in range(1, 21) if x % 2 == 0] # evenNum은 1~20까지의 숫자에서 짝수라면 그 원소를 갖게된다
evenNum

### **다양한 자료형에 대한 리스트 함축**

In [ ]:
word_list = ["Every", "bad", "thing", "has", "its", "end"]
item = [i[0] for i in word_list] # i원소[Every]에서 맨 첫번째 원소[E]를 빼내어 item 리스트에 저장한다
item

In [ ]:
word_list = 'Every bad thing has its end.'.split() # .split() -> 공백으로 단어들을 분리 시켜 word_list에 저장한다
word_len = [len(w) for w in word_list] # word_list안에 있는 원소들의 단어길이를 word_len에 저장한다
word_len

## 리스트 활용

In [ ]:
# 최댓값 찾기
score = [45, 74, 68, 86, 50, 70, 90, 96, 84]
maxScore = score[0]

for x in range(1, len(score)): # socre[1]부터 score의 원소 갯수-1 까지 x에 저장해 반복
  if (score[x] > maxScore):
    maxScore = score[x]

maxScore

In [ ]:
# 조건을 만족하는 항목 모두 찾기
score = [45, 74, 68, 86, 50, 70, 90, 96, 84]
excellent = []
for value in score: # score원소를 처음부터 끝까지 value에 순서대로 반복하고
  if value >= 80: # value에 80이상 값이 들어왔을 때
    excellent.append(value) # excellent 리스트에 추가한다.

excellent

filter()함수를 이용하여 조건을 만족하는 항목 모두 찾기

In [ ]:
score = [36, 78, 55, 49, 68, 64, 80, 93, 88, 84]
excellent = list(filter(lambda x : x >= 80, score)) # score안에 있는 원소 중에 80이상인 원소를 리스트로 만들어 excellent로 저장
excellent

[<function __main__.<lambda>>, [36, 78, 55, 49, 68, 64, 80, 93, 88, 84]]

## 내장 순차 자료형 함수

리스트에 map()함수 사용 (복습)
map() 함수: 반복 가능한 객체를 입력 받아서,<br> 각 요소에 지정한 함수를 적용할 수 있는 함수

예를 들어, 다음과 같은 리스트 a가 있다고 하자.
a = [1, 2, 3, 4, 5]<br>
리스트 a의 원소를 모드 2배씩 증가시킨 리스트 b를 생성하려면 어떻게 해야할까?

In [ ]:
def times2x(x):
  return 2*x

numList = [1, 2, 3, 4, 5]
newList = []
for n in numList:
  newList.append(times2x(n))

newList

**map() 함수 이용**

In [ ]:
def times2x(x):
  return 2*x

numList = [1, 2, 3, 4, 5]
newList = list(map(times2x, numList))

newList

[2, 4, 6, 8, 10]

In [ ]:
# 실수 리스트 원소를 한꺼번에 정수로 변환
fl = [3.6, 4.3, 7.8, 9.2, 10.5, 8.7]
il = list(map(int, fl))
il

In [ ]:
# 정수 리스트의 원소를 한꺼번에 문자열로 변환
intList = [x for x in range(10)]
strList = list(map(str, intList))
strList

input().split()함수를 이용하여 리스트에 원소를 한꺼번에 입력하기 (복습)

In [ ]:
names = input().split()
names

In [ ]:
score = input().split()
score = list(map(int, score))
score

# 파이썬의 자료구조

파이썬의 기본 자료 구조: 리스트(List), 튜플(Tuple), 사전(Dictionary), 집합(set)

## 튜플 : 순서쌍

```
리스트처럼 요소들이 순서를 가지는 치퀀스 형태로 저장되지만, 저장된 요ㅕ소를 변경, 추가, 삭제할 수는 없는 자료형
```

## 튜플의 생성
- 쉼표로 구분된 값을 대입, 또는
- 쉼표로 구분된 값을 관호()로 묶어서 대입

(예)
- 튜플 = 값, 값, 값
- 튜플 = (값, 값, 값)

In [ ]:
rectangle1 = 100, 200 # 너비 100, 높이 200인 직사각형
rectangle1 # 순서를 갖는다. 인덱스(rectangle1)를 통하여 저장된 위치에 접근할 수 있다.

In [ ]:
rectangle1 = (100, 200) # 너비 100, 높이 200인 직사각형
rectangle1

(100, 200)

In [ ]:
ractangle1[0]

In [ ]:
ractangle1[1]

In [ ]:
ractangle2 = (0, 0), 100, 100 # (0, 0) -> rectangle[0], 100 -> rectangle[1], 100 ->rectangle[2]
ractangle2 # 3개의 원소를 갖는다

In [ ]:
ractangle3 = (100, 100), (200, 300) #2개의 원소를 갖는다 200 -> ractangle[1][0] - >200
ractangle3

In [ ]:
ract_pos = (100, 100), 200, 100 # (100, 100)의 위치에서 너비 200, 높이 100인 직사각형
ract_pos

In [ ]:
ract_pos[1] # 200

In [ ]:
circle = (200, 200), 100 #중심이 200, 200에 위치하며 반지름의 길이가 100인 원
circle
circle[0][0] # 200

range를 이용하여 튜플 만들기

In [ ]:
num = tuple(range(10))
num

리스트를 튜플로, 튜플을 리스트로 만들기

In [ ]:
numList = [x for x in range(10)]
numList

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numTuple = tuple(numList)
numTuple

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
numNumList = list(numTuple)
numNumList

튜플도 리스트처럼 여러 자료형을 섞어서 저장해도 된다.

In [ ]:
student = ('20210000', '홍길동', 20, 4, 3)
student

**튜플의 원소의 값을 변경할 수 없다**

In [ ]:
student[2] = 21

**중첩된 튜플**

In [ ]:
ract_pos = (100, 100), 200, 100 # 100, 100의 위치에서 너비 200, 높이 100인 직사각형
pos = ract_pos[0]
width = ract_pos[1]
height = ract_pos[2]
print("하각형의 시작좌표", pos)
print("너비 =", width)
print("높이 =", height)

In [ ]:
circle = (200, 200), 100 # 중심이 200, 200에 위치하며 반지름의 길이가 100인 원
center_x = circle[0][0]
center_y = circle[0][1]
radius = circle[1]
print("중심 좌표_x:", center_x)
print("중심 좌표_y:", center_y)
print("반지름 길이:", radius)

**튜플에서 값 분리하기**

In [ ]:
ract_pos = (100, 100), 200, 100
pos, width, height = ract_pos #pos, width, height에 ract_pos의 원소들을 순서대로 끌고와 각각 저장한다
print("시작좌표 =", pos,"너비 =", width, "높이 =", height)

In [ ]:
circle = (200, 200), 100
center, radius = circle
print("중심 좌표:", center, "반지름 길이:", radius)

**두 변수의 값 교환**

In [ ]:
a, b = 10, 20

In [ ]:
a

In [ ]:
b

In [ ]:
b, a = a, b # b 에는 a값을 a 에는 b의 값을 넣어 저장한다

In [ ]:
a

In [ ]:
b

# 3. 사전(disctionary)

사전
- 키(Key)와 값(value)의 쌍으로 구성된 순서가 없는(인덱스로 접근할 수 없는) 자료구조
  - *순서가 없기* 때문에 *인덱스로는 접근 할 수 없으며* 반드시 키를 이용하여 접근해야한다
  - 값은 중복될 수 있지만 키는 중복될 수 없다. 키가 중복되면 마지막 값으로 덮어쓰기가 된다
- 키를 이용하여 값을 신속하게 찾아내는 헤시테이블(Hash Table)구조
- **pandas의 Dataframe을 생성할 때 Dictionary 구조의 key-value를 통하여 데이터 입력**

###사전 선언하기

중괄호{}를 이용하여 사전을 선언한다

In [ ]:
# 사전 구조의 학생 성적 입력 (키: 번호)
score1 = {1:88, 2:96, 3:73, 4:68, 5:72, 6:80}
score1

In [ ]:
# 사전 구조의 학생 성적 입력 (키: 이름)
score2 = {"강은미":88, "김영민":96, "도민준":73, "박현우":68, "이기쁨":72, "하지은":80}
score2

In [ ]:
# dict() 함수를 이용한 사전 선언
score3 = dict(강은미=88, 김영민=96, 도민준=73, 박현우=68, 이기쁨=72, 하지은=80)
score3

{'강은미': 88, '김영민': 96, '도민준': 73, '박현우': 68, '이기쁨': 72, '하지은': 80}

In [ ]:
circle = {"center":(10, 10), "radius":5}
circle

**사전의 원소에 접근**
키를 이용하여 접근한다. 순서가 없기 때문에 *인덱스로는 접근할 수 없다.*

In [ ]:
# 박현우의 성적을 알고 싶은데 score2 사전의 3번 인덱스로 접근하면 될까?
score2[3]

In [ ]:
score2["박현우"]

In [ ]:
# 그런데 이건 왜 될까
score1[3] #[3]은 인덱스가 아니라 키(key)다.

## **사전의 원소 값(value) 변경** 

- Key를 통하영 접근 후 값을 할당
- 튜플과 사전의 차이
  - 튜플 : 순서 o, 인덱스로 접근 o, 값의 변경 x
  - 사전 : 순서 x, 인덱스로 접근 x, 값의 변경 o

In [ ]:
score1[3] = 75
score2['이기쁨'] = 78

print(score1)
print(score2)

**update() 함수를 이용한 원소의 변경**

In [ ]:
#키가 문자일 때 update(키 = 값)
score2.update(도민준=90)
score2

In [ ]:
# 사전의 여러 원소를 한꺼번에 변경
score2.updtae(강은미=89, 하지은=83)
score2

In [ ]:
#키가 숫자일 때 update(키: 값)
score1.update({2:100})
score1

## 사전에서 키-값 쌍의 삭제
pop(), del[]

**pop() 함수: 사전에서 특정 키-값 쌍을 삭제한 뒤 삭제할 값을 반환한다**

In [ ]:
score3.pop("박현우")

In [ ]:
score3

In [ ]:
score3["강은미"] = 100
score3

**dell[]**

In [ ]:
del score3['강은미']

In [ ]:
score3

## **사전의 모든 키-값 쌍 모두 삭제하기**
clear()함수 이용

> 들여쓴 블록

In [ ]:
score3.clear()
score3

## 집합(Set)

중복되지 않은 원소드르이 모임, 중괄호{}로 표현
세트 안의 원소들은 순서가 없기 떄문에 인덱스르 가지고 세트의 원소에 접근할 수 없다.

In [ ]:
numbers = {5, 2, 3, 5, 6, 8}
numbers

In [ ]:
num = numbers[2] # set 함수는 인덱스를 통해서 접근을 할 수 없다 -> 순서가 없기 때문에
num

TypeError: ignored

In [ ]:
# 집합의 원소 추가
numbers.add(7)
numbers

In [ ]:
# 집합의 원소 삭제
numbers.discard(6)
numbers

In [ ]:
# 집합을 공집합으로 만들기
numbers.clear()
numbers

In [ ]:
len(numbers)

## 집합의 연산: 합집합, 교집합, 차집합 등

In [ ]:
a = {5, 7, 3, 8, 9, 1}
b = {8, 4, 2, 3, 5, 6}

a | b # 합집합

In [ ]:
a.union(b) # a 합집합 b

In [ ]:
b.union(a) # b 합집합 a

In [ ]:
a & b # 교집합

In [ ]:
a.intersection(b) # a 교집합 b

In [ ]:
b.intersection(a) # b 교집합 a

In [ ]:
a - b # a에는 들어가지만 b에는 안들어가는 것(차집합)

In [ ]:
b - a # b에는 들어가지만 a에는 안들어가는 것