<a href="https://colab.research.google.com/github/1st-award/andong_2021_2_1/blob/main/Python/%ED%95%84%EA%B8%B0%20%EC%82%AC%EB%B3%B8/pandas_basic_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 프레임 다루기
- 특정 행 또는 열을 선택하기
- 행과 열의 삽입 삭제
- 데이터프레임의 원소를 이용하여 계산하기
- DataFrame과 Series 사이의 연산

## iloc, loc를 이용하여 행/열 선택하기
iloc은 인텍스 번호로 데이터프레임의 데이터를 선택하고, loc는 label을 기준으로 선택한다.
다음과 같이 데이터 프레임을 생성하자

In [ ]:
import numpy as np
import pandas as pd

df2d = pd.DataFrame(np.random.randint(50, 101, (5, 8)), 
                    columns=['국어', '영어', '수학', '한국사', '사회', '과학', '체육', '예술'],
                    index = ['김효림', '박민철', '정윤주', '최나은', '홍길동'])
df2d

### 행 번호로 선택하는 방법(iloc)

In [ ]:
# df2d 데이터프레임의 첫 행만 확인
df2d.iloc[0]

In [ ]:
# df2d 데이터프레임의 처음 세 개의 행을 확인
df2d.iloc[:3]

In [ ]:
# df2d 데이터프레임의 3번 행부터 끝까지 확인
df2d.iloc[3:]

In [ ]:
# 여학생 정보만 추출
femail = df2d.iloc[[0, 2, 3]]
femail

In [ ]:
# df2d 데이터프레임의 끝에서 세 번째 열을 확인
df2d.iloc[:, -3]

In [ ]:
# df2d 데이터프레임의 처음 세 개의 열을 확인
df2d.iloc[:, :3]

In [ ]:
# df2d 데이터프래임의 3번째 열부터 끝까지 확인
df2d.iloc[:, 3:]

In [ ]:
# 국어, 수학, 과학 과목만 선택한 후 확인
choice = df2d.iloc[:, [0, 2, 5]]
choice

### label을 이용하여 데이터 선택(loc)

In [ ]:
# label이 '정윤주'인 행을 확인
df2d.loc['정윤주']

In [ ]:
# label이 '박민철'과 '최나은'인 행을 확인
df2d.loc[['박민철', '최나은']] # 반드시 이중의 대괄호 사용

In [ ]:
# '정윤주', '박민철'과 '최나은'의 '국어', '국어', '사회', '과학' 점수 확인
df2d.loc[['정윤주', '박민철', '최나은'], ['국어', '사회', '과학']]

## 행 또는 열의 추가 및 삭제

### 열 추가

In [ ]:
df2d['한문'] = 0
df2d

In [ ]:
df2d['한문'] = np.random.randint(50, 101, 5)
df2d

### 열 **삭제**

#### **del 명령을 이용하여 하나의 열을 삭제**

In [ ]:
del df2d['한문']
df2d

#### **drop()을 이용하여 하나의 열을 삭제**
데이터프레임명.drop('컬럼명', axis=1, inplace=True)

In [ ]:
new_df2d = df2d.copy()
new_df2d

In [ ]:
new_df2d.drop('사회', axis=1)
new_df2d # '사회' 칼럼이 삭제되었을까?

In [ ]:
#new_df2d = new_df2d.drop('사회', axis=1) 또는
new_df2d.drop('사회', axis=1, inplace=True)
new_df2d

#### drop()을 이용하여 여러 개의 열을 삭제
데이터프레임명.drop(['컬럼명1', '컬럼명'2'], axis=1)

In [ ]:
new_df2d.drop(['예술', '체육'], axis=1, inplace=True)
new_df2d

### 행 삭제

#### drop()을 이용하여 행 삭제

In [ ]:
new_df2d.drop(['정윤주', '김효림'], inplace=True)
new_df2d

### 행 추가

#### loc을 이용하여 행 추가

In [ ]:
#df3d.loc['남효민'] = 
#dataframe.loc[행정보, 열정보]
df2d.loc['남효민'] = np.random.randint(50, 101, 8)
df2d

### 데이터프레임의 원소를 이용하여 계산하기

In [ ]:
# 과목별 합곟와 평균을 계산하여 출력하기
df2d.loc['합계', :] = df2d.iloc[:6].sum()
df2d.loc['평균', :] = df2d.iloc[:6].mean()
df2d

        국어          영어          수학  ...          과학          체육          예술
김효림   65.0   77.000000   52.000000  ...   57.000000   60.000000   61.000000
박민철   90.0  100.000000   78.000000  ...   95.000000   87.000000   50.000000
정윤주   70.0   71.000000   51.000000  ...   56.000000   58.000000   87.000000
최나은   87.0   76.000000   67.000000  ...   63.000000   87.000000   79.000000
홍길동  100.0   92.000000   57.000000  ...   69.000000   72.000000   94.000000
남효민   56.0   66.000000   62.000000  ...   54.000000   78.000000   78.000000
합계   468.0  482.000000  367.000000  ...  394.000000  442.000000  449.000000
평균    78.0   80.333333   61.166667  ...   65.666667   73.666667   74.833333

[8 rows x 8 columns]

In [ ]:
df2d.loc[:, '총점'] = df2d.iloc[:, :8].sum(axis=1)
df2d.loc[:, '성적'] = df2d.iloc[:, :8].mean(axis=1)
df2d