<a href="https://colab.research.google.com/github/1st-award/andong_2021_2_1/blob/main/Python/%ED%95%84%EA%B8%B0%20%EC%82%AC%EB%B3%B8/NumpyLibrary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Numpy 라이브러리
- Numerical Python의 줄임말로 python으로 수치를 계산하기 위한 라이브러리
- Python의 숫자 데이터와 관련된 대부분의 과학 응용 프로그램에 필요한 데이터 구조, 알고리즘 및 라이브러리 연결고리를 제공
- 다차원 배열을 효율적으로 구현할 수 있고 빠르고 편리하게 벡터 및 행렬 연산이 가능
- 데이터 분석에서 주요 용도 중 하나는 알고리즘과 라이브러리간에 데이터를 전달하는 컨테이너 역할 수행

# 1. 라이브러리 포함

In [ ]:
import numpy as np # numpy로 쓰지않고 np로 쓰겠다

# 2. numpy array와 python list의 비교
- python list
  - 하나의 list에 데이터 유형이 다른 여러 원소를 포함할 수 있다.<br>
  ```student = ['2021000', '홍길동', 21, '남']```
  - insert(), append(), pop() 및 remove() 함수를 이용하여 list의 크기를 동적으로 변경가능
- numpy array
  - 동일한 종류의 데이터 유형을 갖는 n차원 배열의 캡슐화<br>
  ```score = np.array([6, 7.5, 8, 0, 1])```
  - numpy 배열은 생성 시 고정된 크기를갖으며, ndarray의 크기를 변경하면 새로운 배열이 생성되고 원본은 삭제된다.
  - numpy 배열은 많은 수의 데이터에 대한 고급 수학 및 기타 유형의 연상이 용이

In [ ]:
stList = ['2021000', "홍길동", 21, "남"]
stList

In [ ]:
stList.append(4.3) # 기존의 stList의 마지막에 4.3이라는 원소가 추가
stList

In [ ]:
stArr = np.array([6, 7.5, 8, 0, 1])
stArr

In [ ]:
np.append(stArr, [4.3]) # 임시로 추가하고 stArr에는 추가가 안됨
stArr

In [ ]:
stArr =np.append(stArr, [4.3]) # 원래 있던 stArr은 삭제되고 새로운 starr이 생성
stArr

In [ ]:
my_arr = np.arange(1000000) # numpy의 array
my_list = list(range(1000000)) # python의 list

In [ ]:
my_arr

In [ ]:
my_list

In [ ]:
%time for _ in range(10): my_arr2 = my_arr *2

CPU times: user 13 ms, sys: 8.05 ms, total: 21 ms
Wall time: 25.1 ms

In [ ]:
%time for _ in range(10): my_list2 = [x * 2 for x in my_list]

CPU times: user 754 ms, sys: 171 ms, total: 926 ms
Wall time: 934 ms

**numpy 기반 알고리즘은 일반적으로 순수한 python 알고리즘보다 10 ~ 100배 더 빠르며 메로리를 훨씬 적게 사용한다.**

# 3. Creating ndarrays
## **1차원 numpy array의 생성**

## numpy array의 생성과 정보확인

In [ ]:
# numpy 배열 score의 생성과 차원확인
score = np.array([4.8, 3.6, 3.7, 4.2, 5.0, 2.8], dtype="float32")
score.ndim # 배열 score의 차원 확인

1

In [ ]:
# 배열 score의 모양 확인
score.shape

In [ ]:
# 배열 score에 포함된 원소의 자료형 확인
score.dtype

#### **numpy의 자료형**
#### 자료형 뒤에 붙은 숫자는 자료의 크기(비트 수)를 의미
- 부호가 있는 정수: int8, int16, int32, int64
- 부호가 없는 정수: unit8, unit16, unit32, unit64
- 실수: float16, float32, float64, float128
- 복소수: complex64, complex128, complex256
- 불리언: bool
- 문자열: string_
- 파이썬 오브젝트: object

#### **2차원 numpy array의 생성**

In [ ]:
data2 = [[1, 2, 3, 4], [5, 6, 7, 8]]
arr2 = np.array(data2, dtype="int32")
arr2

In [ ]:
# 배열 arr2의 차원 확인
arr2.ndim

In [ ]:
# 배열 arr2의 모양 확인
arr2.shape

In [ ]:
# 배열 arr2에 포함된 데이터의 유형 확인
arr2.dtype

In [ ]:
# 연속적인 수를 원소로 갖는 2차원 배열 생성
seq15_2d = np.arange(15).reshape(3, 5)
seq15_2d

In [ ]:
# 3행 3열의 단위행렬(정사각형구조) 생성
iA = np.identity(3) # 3*3배열의 배열이 만들어지고 대각선으로 1이 저장되며 나머지 배열에는 0으로 채워진다
iA

##### 새로운 배열 생성

np.array외에도 새 배열을 생성하기위한 여러 다른 함수가 있습니다. 예들 들어, 0과 1은 각각 주어진 길이 또는 모양으로 0 또는 1의 배열을 만듭니다. empty는 값을 특정 값으로 초기화하지 않고 배열을 만듭니다. 이러한 메서드를 사용하여 더 높은 차원의 배열을 만들려면 모양에 대한 튜플을 전달합니다.

In [ ]:
# 원소로 10개의 0.0을 가지고 있는 실수형의 일차원 배열 생성
a0 = np.zeros(10)
a0

In [ ]:
# 원소로 10개의 1.0을 가지고 있는 실수형의 일차원 배열 생성
a1 = np.ones(10)
a1

In [ ]:
# 5개의 정수 1을 원소로 갖는 일차원 배열 생성
a1_5 = np.ones(5, dtype="int32")
a1_5

In [ ]:
# 0.0을 원소로 가지는 3행 6열의 이차원 배열 생성
s = (3, 6)
a0_36 = np.zeros(s)
a0_36

In [ ]:
# 3차원의 빈 배열 생성 - 실제로 비었을까?
emp = np.empty((2, 3, 4))
emp

In [ ]:
# 2행 3열의 행렬을 생성하고 모든 원소를 5.0으로 채우기
arrValue5_1 = np.zeros((2, 3)) + 5
arrValue5_1

In [ ]:
arrValue5_2 = np.ones((2, 3)) *5
arrValue5_2

In [ ]:
arrValue5_3 = np.full((2,3), 5.0)
arrValue5_3

## 4. ndarrays의 자료형 변환
- numpy의 데이터 형태: Boolean, Integer, Unsigned Integer, Float, Complex, string
  - Integer: int8, int16, int32, int64
  - Unsigned Integer: unit8, unit16, unit32, unit64
  - float: float16, float 32, float 64
- **Numpy의 데이터 형태 지정하기**

In [ ]:
arrOnes = np.ones(10, dtype="float32")
arrOnes

In [ ]:
arrOnesi = arrOnes.astype('int32')
arrOnesi

In [ ]:
arr1 = np.array([1, 2, 3], dtype = "int32")
arr1.dtype

In [ ]:
arr2 = np.array([3.7, -1.2, -2.6, 0.5, 12.9, 10.1], dtype="float32")
arr2.dtype

In [ ]:
arr3 = arr1.astype("float64") # 자료형의 변환
arr3

In [ ]:
# 실수를 원소로 갖는 배열 생성
arr4 = np.array([3.7, -1.2, -2.6, 0.5, 12.9, 10.1])
arr4

In [ ]:
# 실수형 원소를 정수형으로 변환하여 로운 numpy 배열에 저장
arr5 = arr4.astype("int32")
arr5

## 5. Numpy 인덱싱(Indexing)과 슬라이싱(Slicing)

In [ ]:
arr = np.arange(12).reshape(3, 4)
arr

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [ ]:
# 인덱싱
print("arr[1][3] = ", arr[1, 3])
print("arr[2, 3] = ", arr[2][2])

arr[1][3] =  7
arr[2, 3] =  10

In [ ]:
arr = np.arange(16).reshape(4, 4)
arr

In [ ]:
# 슬라이싱
sub00 = arr[:2, :2]
sub01 = arr[:2, 2:]
sub10 = arr[2:, :2]
sub11 = arr[2:, 2:]
sub11

array([[10, 11],
       [14, 15]])

In [ ]:
## 6. Numpy 연산
- 사칙연산
  - 연산자: + - * /
  - 함수: add(), subtract(), multiply(), divide()

In [ ]:
a = np.array([2, 4, 6, 8, 10])
b = np.array([3, 5, 6, 2, 8])

hap = np.add(a, b) 
cha = np.subtract(a, b)
gob = np.multiply(a, b)
jae = np.divide(a, b)

print(hap)
print(cha)
print(gob)
print(jae)

In [ ]:
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])

dotP = np.dot(a, b)
dotP

행렬 원소의 합계와 평균 계산

In [ ]:
score = np.array([[96, 90, 92], [78, 60, 82], [88, 90, 87], [60, 65, 70], [82, 88, 85]])
score

In [ ]:
# 모든 원소의 합계와  계산
totalSum = np.sum(score)
totalAvg = np.mean(score)
print("전체 합계 = %d" % totalSum, "전체 평균 = %.2f" % totalAvg)

In [ ]:
# 과목별 합계, 평균계산
subjSum = np.sum(score, axis = 0)
subjAvg = np.mean(score, axis=0)
print("과목별 합계= ", subjSum)
print("과목별 평균= ", subjAvg)

과목별 합계=  [404 393 416]
과목별 평균=  [80.8 78.6 83.2]

In [ ]:
# 개인별 합계, 평균 계산
persSum = np.sum(score, axis=1)
persAvg = np.mean(score, axis=1)
print("개인별 합계 = ", persSum)
print("개인별 평균= ", persAvg)

**기억해두면 좋아요**

In [ ]:
# Numpy float 출력 옵션 (소수 2자리까지만 출력) - 방법 1
np.set_printoptions(precision=2)

persSum = np.sum(score, axis=1)
persAvg = np.mean(score, axis=1)
print("개인별 합계 = ", persSum)
print("개인별 평균 = ", persAvg)

In [ ]:
# Numpy float 출력 옵션 (소수 2자리까지만 출력) - 방법 2
np.set_printoptions(formatter={"float_kind":lambda x: "{0:0.2f}".format(x)})

persSum = np.sum(score, axis=1)
persAvg = np.mean(score, axis=1)
print("개인별 합계 = ", persSum)
print("개인별 평균 = ", persAvg)