<a href="https://colab.research.google.com/github/1st-award/andong_2021_2_1/blob/main/Python/%ED%95%84%EA%B8%B0%20%EC%82%AC%EB%B3%B8/%EC%8B%A4%EC%A0%84%EC%97%B0%EC%8A%B5_01_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#문자열 처리 관련 실전 연습

###1. 다음 문자열을 변수 poem에 할당하시오.

"애기 바람이 나뭇가지에 소올소올"

####2. 위 1번의 문자열에서 "애기 바람"만 출력하시오

####3. 다음과 같은 코드를 이용하여 위 1번의 문자열에서 "소올소올"을 "살랑살랑"으로 변경하려고 하는데 문제가 발생하였습니다. 왜 그럴까요?

In [ ]:
poem[13:]= '살랑살랑' #문자열을 중간에 바꿀 수 없다

####4. 위 3번 문제를 replace()함수를 이용하여 해결하시오.

####5. 모바일 폰 번호의 중간 4자리는 최초 가입할 당시의 통신사를 의미하고, 뒤의 4자리는 개인 구분 번호입니다. 다음과 같이 출력 할 수 있는 코드를 작성하시오.

In [ ]:
phoneNumber= '010-1234-5678'

**출력결과**

통신사 번호: 1234

개인 번호: 5678

통신사 번호: 1234
개인 번호: 5678

####6. 위 4번의 전화번호에서 하이픈(-) 대신 공백을 넗어서 출력하시오.

010 1234 5678

####7. 위 4번의 전화번호에서 하이픈(-)을 제거하고 출력하시오.

01012345678

####8. 문자열 곱셈 연산

다음 코드의 실행 결과를 예상하시오

In [ ]:
lang= 'Python'
print(lang*3) #'Python'을 3번 출력한다.

####9. 다음 문자열에서 쉼표(,)를 제거한고 정수로 변환한 후 계산을 완성하시오.

In [ ]:
unitPrice= '5,840' #단가
#######################
unitPrice= int(unitPrice.replace(',', ''))
#######################
quantity= 12 #수량
price= unitPrice * quantity
print('총 금액=', price)

총 금액= 70080

####10.다음 문자열을 단어 단위로 분리하여 리스트에 저장하시오.

"아저씨 해님이 하늘 한가운데서 째앵째앵"

['아저씨', '해님이', '하늘', '한가운데서', '째앵째앵']