<a href="https://colab.research.google.com/github/1st-award/andong_2021_2_1/blob/main/Python/%ED%95%84%EA%B8%B0%20%EC%82%AC%EB%B3%B8/%EC%8B%A4%EC%A0%84%EC%97%B0%EC%8A%B5_01_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#print() 함수 작성 연습

####1. 문자열 **날개야 다시 돋아라** 출력 명령

####2. 문자열 "**한번만 더 날아보자꾸나**"출력 명령

####3. 여러 문자열의 출력

(예) 월요일 화요일 수요일 목요일 금요일

In [ ]:
print('월요일', '화요일', '수요일', '목요일', '금요일', sep= '')

(예)월요일, 화요일, 수요일, 목요일, 금요일

월요일,화요일,수요일,목요일,금요일

(예)월요일/화요일/수요일/목요일/금요일

월요일/화요일/수요일/목요일/금요일

####4. 다음 코드의 출력 결과를 예측하시오.

In [ ]:
print('봄 꽃 피는날')
print('난 알았습니다')

In [ ]:
print('내 마음에도', end= ' ')
print('꽃이 활짝 피어나는 걸')

내 마음에도 꽃이 활짝 피어나는 걸

####5. 다음 연산 결과는 얼마일까요?

In [ ]:
13/5

2.6

In [ ]:
13//5

2

In [ ]:
13%5

3

In [ ]:
4*3**2

36

####6. 다음 코드의 출력 결과를 예측하시오.

In [ ]:
str1= '졸참나무'
str2= '오솔길'

print(str1, str2)
print(str1+str2)

졸참나무 오솔길
졸참나무오솔길

####7. 변수의 자료형 확인

type() 함수를 이용하여 변수의 자료형을 확인할 수 있습니다.

In [ ]:
var= 100
print(type(var))

다음 변수의 자료형을 확인하는 코드를 작성해보시오.

In [ ]:
value= '230'

####8. 자료형 변환 함수

In [ ]:
kor= '100' #str
math= '96.75' #str

위 코드의 변수 kor을 정수형(int)으로 변환하시오.

In [ ]:
int(kor)

100

위 코드의 변수 math를 실수형(float)으로 변환하시오.

96.75

####9. 사용자로부터 수를 입력받아서 10 증가시키는 문제

In [ ]:
score= input('국어 점수: ')
score= score+10
print('국어 점수:', score)

국어 점수: 30
국어 점수: 40

위의 코드의 오류를 해결하시오.

####10. 사용자로부터 국어, 영어, 수학 점수를 입력 받아서 총점과 평균을 계산하여 출력하시오.

국어 점수: 22
영어 점수: 11
수학 점수: 13
총점:  46
평균: 15.33